<meta charset="utf-8">
<meta name="author" content="Rummens Camille">
<meta name="description" content="TBD">
<meta name="keywords" content="TBD">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CSS file-->
<link rel="stylesheet" type="text/css" href="/css/style1.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- logo font-awesome-->
<title>School calendar</title>